{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
{% if user_form.errors %}
    {% for key, value in user_form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>First name:</label>
        {{ user_form.first_name }}
    <label>Last name:</label>
        {{ user_form.last_name }}
    <label>Email:</label>
        {{ user_form.email }}
    <!--<label>Username:</label>
        {{ user_form.username }}
    <label>Email:</label>
        {{ user_form.email }} -->
    <br><br>
    <button type="submit">Save Changes</button>
    <button type="reset">Reset</button>
</form>
{% endblock content %}
