{% extends "base.html" %}
{% block title %} Banks {% endblock title%}
{% block content %}
<h1>{{ bank.name }}</h1>
<p>{{ bank.description }}</p>
<p>Swift code: {{ bank.swift_code }}</p>
<p>Inst number: {{ bank.inst_num }}</p>

<div style="margin-left: 20px; margin-top: 20px;">
    <h4>Branches:</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Transit Number</th>
            <th>Address</th>
        </tr>
        {% for branch in bank.branch_set.all %}
        <tr>
            <td><a href="{% url 'branch-detail' branch.id %}">{{ branch.name }}</a></td>
            <td>{{ branch.transit_num }}</td>
            <td>{{ branch.address }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">There are no branches of this bank.</td>
        </tr>
        {% endfor %}
    </table>
</div>
<p><a href="{% url 'bank-list' %}">Back to bank list</a> {% if user.is_authenticated %}<a href="{% url 'branch-add' bank.id %}">Add a branch</a>{% endif %}</p>

{% endblock content %}
